---
import Image from "astro/components/Image.astro"; 
import product from "../../assets/product/custom  5 rasa.jpg"; 
---
<li>
    <a href="#" class="group block overflow-hidden">
      <Image
        src={product} 
        alt=""
        class="h-[350px] w-full object-cover transition duration-500 group-hover:scale-105 sm:h-[450px]"
      />

      <div class="relative bg-rose-300 p-3 rounded">
        <h3 class="text-xs text-white group-hover:underline group-hover:underline-offset-4">
          Roti Custom 5 Rasa
        </h3>

        <p class="mt-2">
          <span class="sr-only"> Regular Price </span>

          <span class="tracking-wider text-white"> Rp. 8500 </span>
        </p>
      </div>
    </a>
</li>