---
import {Image} from 'astro:assets';
import logo from '../assets/logo.png';
---

<header class="bg-primary">
    <div class="mx-auto max-w-screen-xl px-4 sm:px-6 lg:px-8">
      <div class="flex h-16 items-center justify-between">
        <div class="md:flex md:items-center md:gap-12">
          <a class="block text-teal-600" href="#">
            <span class="sr-only">Home</span>
            <Image class="mt-3" src={logo} alt="Logo-roti-kelinci" width="96" height="54"/>
          </a>
        </div>
  
        <div class="md:block">
          <nav aria-label="Global">
            <ul class="flex items-center gap-6 text-md font-semibold">
              <li>
                <a class="text-primaryTxt transition hover:text-gray-500/75" href="#"> Home </a>
              </li>
  
              <li>
                <a class="text-primaryTxt transition hover:text-gray-500/75" href="#"> Menu </a>
              </li>
  
              <li>
                <a class="text-primaryTxt transition hover:text-gray-500/75" href="#"> Order </a>
              </li>
  
              <li>
                <a class="text-primaryTxt transition hover:text-gray-500/75" href="#"> Contact Us </a>
              </li>
            </ul>
          </nav>
        </div>
  
        <div class="flex items-center gap-4">  
        </div>
  
          <!-- <div class="block md:hidden">
            <button class="rounded bg-gray-100 p-2 text-gray-600 transition hover:text-gray-600/75">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="size-5"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                stroke-width="2"
              >
                <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
              </svg>
            </button>
          </div> -->
        </div>
      </div>
    </div>
  </header>