---
import { Image } from "astro:assets";
import logo from '../assets/logo.png';
---
<header class="bg-primary">
    <div class="mx-auto max-w-screen-xl px-4 sm:px-6 lg:px-8">
      <div class="flex h-16 items-center justify-between">
        <div class="md:flex md:items-center md:gap-12">
          <a class="block text-teal-600" href="/">
            <span class="sr-only">Home</span>
            <Image class="mt-3" src={logo} alt="Logo-roti-kelinci" width="96" height="54"/>
          </a>
        </div>
  
        <div class="md:block">
          <nav aria-label="Global">
            <ul class="flex items-center gap-6 text-md font-semibold font-poppins">
              <li>
                <a class="text-primaryTxt transition hover:text-gray-500/75" href="/"> Home </a>
              </li>
              <li>
                <a class="text-primaryTxt transition hover:text-gray-500/75" href="/menu"> Menu </a>
              </li>
              <li>
                <a class="text-primaryTxt transition hover:text-gray-500/75" href="/Order"> Order </a>
              </li>
              
            </ul>
          </nav>
        </div>
  
        <div class="flex items-center gap-4">  
        </div>
      </div>
    </div>
</header>