---
import Roti5rasa from "./productList/card.astro";
import Card1 from "./productList/card1.astro";
import Card2 from "./productList/card2.astro";
import Card3 from "./productList/card3.astro";

---
<section class="bg-primary">
    <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8">
      <header class="text-center">
        <h2 class="text-xl font-bold text-primaryTxt sm:text-3xl">Menu Roti Kelinci</h2>
  
        <p class="mx-auto mt-4 max-w-md text-primaryTxt font-poppins">
          Nikmati berbagai pilihan roti lezat dan berkualitas, dibuat dengan bahan-bahan terbaik dan penuh dengan cinta. 
          Setiap gigitan adalah pengalaman yang tak terlupakan.
        </p>
      </header>
  
      <ul class="mt-8 grid gap-4 sm:grid-cols-2 lg:grid-cols-4">
        <Roti5rasa />
        <Card1 />
        <Card2 />
        <Card3 /> 
      </ul>
    </div>
  </section>