<main class="bg-primary">
  <div class="mx-auto max-w-screen-xl px-4 pb-8 pt-16 sm:px-6 lg:px-8 lg:pt-24">
    <div class="text-center">
      <h2 class="text-3xl font-extrabold text-gray-900 sm:text-5xl">Pesan sekarang juga</h2>

      <p class="mx-auto mt-4 max-w-sm text-gray-500">
        Klik tombol dibawah untuk langsung menghubungi kami melalui WhatsApp. Kami siap dengan senang hati 
        membantu memproses pesanan
      </p>

      <a
        href="https://wa.me/6285850607888?text=Halo saya ingin order rotikelinci"
        class="mt-8 inline-block rounded-full border border-list px-12 py-3 text-sm font-medium text-list hover:bg-list hover:text-white focus:outline-none focus:ring active:bg-list"
      >
        Hubungi Kami
      </a>
    </div>
  </div>
</main>